.headernav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  /* margin-right: 300px; */
  display: none;
}

@media only screen and (min-width: 768px) {
  .headernav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    /* margin-right: 300px; */
    /* display: none; */
  }
}
@media only screen and (min-width: 1440px) {
  .headernav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    /* margin-right: 300px; */
  }
}

.headerButtons {
  color: var(--White, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
  border: 1px solid transparent;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.active {
  border: 1px solid #bfbebe;
}

.dark {
  color: black;
}

.light {
  color: #fff;
}

.showOnTablet {
  display: block !important;
}
