.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pagination__item {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  padding: 0;
}

.pagination__item:hover:not(.active) {
  text-decoration: underline;
}

.pagination__item.active {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
