.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  width: 100%;
  max-width: 343px;
  border: 1px solid #bfbebe;
  padding: 30px 70px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 394px;
    max-width: 394px;
    padding: 40px;
    gap: 20px;
    min-height: 408px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    border: 1px solid #050505;
    max-width: 394px;
  }
}

.avatarWrapper {
  position: relative;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .avatar {
    width: 120px;
    height: 120px;
  }
}

.uploadBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 23px);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  z-index: 10;
  transition: all 0.3s ease;
}

.uploadBtn {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .uploadBtn {
    width: 38px;
    height: 38px;
  }
}

.uploadBtn svg {
  display: flex;
  justify-content: center;
  align-items: center;

  filter: invert(1);
  transition: filter 0.3s ease;
}

.uploadBtn:hover,
.uploadBtn:active {
  background: #ffffff;
  border: 1px solid #050505;
}

.uploadBtn:hover svg,
.uploadBtn:active svg {
  filter: invert(0);
}

.name {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.statsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .statsCard {
    gap: 8px;
    font-size: 14px;
  }
}

.statItem {
  display: flex;
  gap: 8px;
}

.statLabel {
  color: #bfbebe;
}

.actionBtn {
  width: 343px;
  height: 48px;
  font-size: 14px;
  line-height: 1.5;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1a1a1a;
}

@media screen and (min-width: 768px) {
  .actionBtn {
    width: 394px;
    height: 60px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .actionBtn {
    /* margin: 0 0 0 60px; */
  }
}

.actionBtn:hover,
.actionBtn:active {
  background: #050505;
  border-color: #050505;
}

.actionBtn:hover .icon,
.actionBtn:active .icon {
  filter: invert(0.5);
}

.actionBtn.isActive,
.favoriteButton.isFavorite {
  background: #050505;
  border-color: #050505;
}

.actionBtn.isActive .icon,
.favoriteButton.isFavorite .icon {
  filter: invert(0.5);
}

.iconPlus {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .iconPlus {
    width: 18px;
    height: 18px;
  }
}
