.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  max-width: 343px;
  border: 1px solid #BFBEBE;
  padding-top: 30px;
  padding-bottom: 42px;
  margin: 0 auto;
  margin-bottom: 42px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 394px;
    padding: 40px 80px;
    gap: 20px;
    min-height: 408px;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    border: 1px solid #050505;
    margin: 0 75px 0 0;
    max-width: 394px;
    padding-top: 40px;
    margin-bottom: 20px;
  }
}

.avatarWrapper {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .avatarWrapper {
    margin-bottom: 8px;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .avatar {
    width: 120px;
    height: 120px;
  }
}

.name {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.statsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
}

.statItem {
  display: flex;
  gap: 8px;
}

.statLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  color: #BFBEBE;
}

.statValue {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #050505;
}

@media screen and (min-width: 768px) {
  .statValue {}
}


.editBtn {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.editBtn:hover {
  background-color: #000;
  color: #fff;
}