.breadcrumbsList {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbLink,
.separator,
.breadcrumbCurrent {
  margin-right: 8px;
  font-size: 12px;
  font-weight: var(--fw-700);
  color: var(--cl-light-gray);
  text-transform: uppercase;
  text-decoration: none;
}

.separator {
  pointer-events: none;
  user-select: none;
}

.breadcrumbCurrent {
  color: var(--cl-black);
}
