.headerlogo {
  fill: white;
  width: 83px;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.75rem; /* 116.667% */
  letter-spacing: -0.03rem;
  text-transform: lowercase;
}
