.headerlogo {
  fill: #fff;
  width: 83px;
  /* font-size: 1.5rem; */
  font-size: 24px;
  line-height: 1.75rem; /* 116.667% */
  line-height: 28px; /* 116.667% */
  /* letter-spacing: -0.03rem; */
  letter-spacing: -0.48px;
  text-transform: lowercase;
  margin-right: 455px;
}
