/* section */
.popular {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1280px;
}

.title {
  font-family: Mulish;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}

/* cards */
.cards {
  display: flex;
  gap: 20px;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 305px;
}

/* image */
.cardImage {
  width: 305px;
  height: 275px;
  border-radius: 30px;
  object-fit: cover;
}

/* content */
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* text */
.cardText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardTitle {
  font-family: Mulish;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}

.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  font-family: Mulish;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
}

.cardDescription {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* footer */
.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* user */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #BFBEBE;
}

.userName {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
}

/* icons */
.icons {
  display: flex;
  gap: 4px;
}

.iconButton {
  width: 42px;
  height: 42px;
  border: 1px solid #BFBEBE;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}