/* section */
.popular {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 16px 48px 16px;
}

.title {
  font-weight: var(--fw-800);
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #050505;
}

/* cards */
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* card */
.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 362px;
  width: 100%;
  max-width: 343px;
}

/* image */
.cardImage {
  width: 100%;
  height: 275px;
  border-radius: 30px;
  object-fit: cover;
}

/* content */
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* text */
.cardText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardTitle {
  font-family: Mulish;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}

.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  font-family: Mulish;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1a1a1a;
}

.cardDescription {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* footer */
.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* user */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #bfbebe;
}

.userName {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1a1a1a;
}

/* icons */
.icons {
  display: flex;
  gap: 4px;
}

.iconButton {
  width: 42px;
  height: 42px;
  border: 1px solid #bfbebe;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

@media (min-width: 768px) {
  .popular {
    padding: 0 32px 60px 32px;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    width: 342px;
    height: 412px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 305px;
    height: 421px;
  }
}
