.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 649px;
}

.sectionTitle {
  font-family: 'Mulish';
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}

.sectionText {
  font-family: 'Mulish';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
}