.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.sectionTitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #050505;
}

.sectionText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
}
