.list {
  display: flex;
  flex-direction: column;
  gap: 0; /* Прибираємо відстань між елементами списку */
  padding: 0;
  margin: 0;
  list-style: none;
}
/* 
@media screen and (min-width: 768px) {
  .list {
  }
} */
