.recipeCard {
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .recipeCard {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (min-width: 1440px) {
  .recipeCard {
    flex: 1 1 calc(33.333% - 20px);
  }
}
