.timeInput {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid var(--cl-light-gray);
  border-radius: var(--radius-circle);
  color: var(--cl-dark);
  transition: var(--trns-ease);
  cursor: pointer;
}

.button.button:hover:not(:disabled),
.button.button:focus:not(:disabled) {
  background-color: var(--cl-lighter-gray);
}

.button:active:not(:disabled) {
  transform: scale(0.95);
}

.button[data-variant='outlined']:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.timeValue {
  min-width: 52px;
  text-align: center;
  font-size: 14px;
  line-height: var(--lh-140);
  color: var(--cl-light-gray);
}

@media (min-width: 768px) {
  .button.button {
    width: 56px;
    height: 56px;
  }

  .timeValue {
    min-width: 66px;
    font-size: var(--fs-16);
    line-height: var(--lh-150);
    color: var(--cl-black);
  }
}
