#root {
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 359px;
  margin: 0 auto;
  padding: 0 17px;
  margin-top: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
    padding: 0 60px;
  }
}
