.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.paginationItem {
  width: 32px;
  height: 32px;
  font-size: 16px;
  cursor: pointer;
  color: var(--cl-black);
  padding: 0;
}

.paginationItem:hover {
  text-decoration: none;
}

.paginationItemActive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--cl-black);
}
