.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.paginationItem {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  padding: 0;
}

.paginationItem:hover {
  text-decoration: none;
}

.paginationItemActive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #000;
  color: #fff;
}
