.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  gap: 32px;
}

@media (min-width: 768px) {
  .infoWrapper {
    gap: 40px;
    margin-top: 40px;
  }
}

@media (min-width: 1440px) {
  .infoWrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
  }
}
