.backdrop {
  position: fixed;
  inset: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.panel {
  position: relative;
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: calc(100svh - 32px);
  background: #050505;
  border-radius: 30px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 110px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.closeIcon path {
  stroke: #fff !important;
}


.primaryButton {
  min-width: 111px;
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #fff;
  background: #050505;
  margin-top: auto;
  color: #fff;

  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.primaryButton:hover {
  border: 1px solid #e8e8e8;
  background: #1a1a1a;
}

.primaryButton:active {
  border: 1px solid #e8e8e8;
  background: #1a1a1a;
}

@media only screen and (min-width: 768px) {
  .primaryButton {
    padding: 16px 32px;
    gap: 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

.secondaryLink {
  color: #fff;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  text-decoration: none;
}

.linkActive {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.active {
  border: 1px solid #e8e8e8;
  background: #1a1a1a;
}

.dark {
  color: #050505;
  background: #f0f0f0;
}

.dark:hover {
  background: #e0e0e0;
  border-color: #050505;
}

.light {
  color: #fff;
}


.pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: auto;
  padding-bottom: 116px;
}

.rotated1 {
  width: 77px;
  height: 70px;
  transform: rotate(11deg);
  border-radius: 15px;
  background-color: #1a1a1a;
}

.rotated2 {
  width: 190px;
  height: 172px;
  background-color: #1a1a1a;
  object-fit: contain;
  transform: rotate(-12deg);
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .panel {
    max-width: 768px;
    padding: 32px;
  }

  .pictures {
    gap: 50px;
  }

  .rotated1 {
    width: 128px;
    height: 116px;
    border-radius: 30px;
  }

  .rotated2 {
    width: 302px;
    height: 273px;
  }
}
