.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
}

/* Photo Upload Styles */

.uploadPhotoError {
  border: 1px solid var(--cl-error);
}
/* Input Title Styles */

.inputTitle {
  margin-top: 32px;
  font-size: var(--fs-18);
  font-weight: var(--fw-800);
  line-height: var(--lh-130);
  text-transform: uppercase;
}

.inputTitle::placeholder {
  color: var(--cl-light-gray);
}

/* Category Styles */

.categoryTitle,
.timeTitle,
.ingredientsTitle,
.preparationTitle {
  margin-top: 32px;
  font-size: var(--fs-16);
  font-weight: var(--fw-800);
  line-height: var(--lh-150);
  text-transform: uppercase;
}

.selectCategoryWrapper {
  margin-top: 8px;
}

/* Time Styles */

.timeTitle {
  margin: 20px 0 8px 0;
}

/* Area Styles */
.areaTitle {
  margin-top: 20px;
  font-size: var(--fs-20);
  line-height: var(--lh-120);
  font-weight: var(--fw-800);
  text-transform: uppercase;
}

.selectAreaWrapper {
  margin-top: 16px;
  margin-right: 13px;
}

/* Ingredients Styles */

.ingredientsTitle {
  margin-top: 20px;
  margin-bottom: 8px;
}

.quantityInput {
  margin-top: 20px;
  width: 100%;
  height: 36px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--cl-light-gray);
  font-size: var(--fs-14);
  line-height: var(--lh-140);
}

.quantityInput::placeholder {
  color: var(--cl-light-gray);
}

.addIngredientButton {
  margin-top: 30px;
  padding: 14px 20px;
  gap: 8px;
  text-transform: uppercase;
}

.addIngredientButton:hover .addIngredientIcon {
  stroke: var(--cl-white);
  transform: var(--trns-ease);
}

/* Preparation Styles */

.preparationTitle {
  margin-top: 64px;
}

/* Buttons Block Styles */

.buttonsBlock {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 32px;
}

.resetButton.resetButton {
  width: 48px;
  height: 48px;
  border: 1px solid var(--cl-light-gray);
  border-radius: var(--radius-circle);
}

.resetButton.resetButton:hover {
  background-color: var(--cl-light-gray);
}

.resetButton .trashIcon {
  stroke: var(--cl-light-gray);
}

.resetButton:hover .trashIcon {
  stroke: var(--cl-white);
  transform: var(--trns-ease);
}

.submitButton {
  padding: 14px 32px;
  text-transform: uppercase;
}
