.section {
  text-align: center;
  padding-bottom: 20px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.43;
  font-size: 14px;
}

.title {
  font-family: var(--mulish-extra-bold), sans-serif;
  font-weight: 800;
  width: 100%;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--cl-black);
}

.icon {
  width: 40px;
  height: 32px;
  margin-left: 8px;
  display: block;
  color: var(--cl-light-gray);
  margin-bottom: 20px;
  flex: none;
}

.slide {
  position: relative;
}

.text {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--cl-black);
}

.author {
  font-family: 'Mulish', sans-serif;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: var(--cl-black);
}

:global(.swiper-pagination) {
  text-align: center;
}

:global(.swiper-pagination-bullet) {
  width: 14px;
  height: 14px;
  background-color: var(--cl-light-gray);
  opacity: 1;
  margin: 0 8px;
  border-radius: 50%;
}

:global(.swiper-pagination-bullet-active) {
  background-color: var(--cl-black);
}

@media (min-width: 768px) {
  .section {
    width: 704px;
    margin: 0 auto;
  }

  .subtitle {
    line-height: 1.5;
    font-size: 16px;
  }

  .title {
    font-size: 40px;
    line-height: 1.11;
  }

  .icon {
    width: 59px;
    height: 48px;
    margin-left: 40px;
    margin-bottom: 40px;
  }

  .slide {
    position: relative;
  }

  .text {
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 1.5;
  }

  .author {
    font-size: 20px;
    line-height: 1.2;
  }

  :global(.swiper-pagination-bullet) {
    width: 16px;
    height: 16px;
    margin: 0 12px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 822px;
    margin: 0 auto;
  }
}