.formContainer {
  display: flex;
  width: 400px;
  padding: 0px;
  flex-direction: column;
  border: none;
}

.formHead {
  gap: 8px;
  color: var(--Main, #101828);
  /* H3 */
  font-family: Inter;
  font-size: 32px;
  font-style: bold;
  font-weight: 600;
  line-height: 40px; /* 120% */
  padding: 0 13px;
  margin-bottom: 40px;
}

.formHeadText {
  color: var(--Gray, #6c717b);
  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  align-self: stretch;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 0px;
}

.formField {
  padding: 16px 18px;
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid var(--LightGray, #bfbebe);
}

.formField:hover,
.formField:focus {
  outline: none; /* Removes default browser outline */
}

.formFieldComment {
  display: flex;
  width: 527px;
  padding: 18px 308px 76px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: none;
}
.formFieldComment:focus,
.formFieldComment:hover {
  outline: none;
}

.formBtn {
  display: flex;
  width: 166px;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: var(--Button, #e44848);
  margin-top: 10px;
  border: none;
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}

.formBtn:hover,
.formBtn:focus {
  background: #d84343;
}

.passwordFieldContainer {
  position: relative;
  width: 100%;
}

.eyeBtn {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
