.formContainer {
  display: flex;
  width: 400px;
  padding: 0px;
  flex-direction: column;
  border: none;
}

.formHead {
  color: var(--cl-black, #050505);
  font-size: 32px;
  font-style: bold;
  font-weight: var(--fw-800);
  line-height: var(--lh-120); /* 120% */
  margin-bottom: 40px;
}

.formFieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
  color: var(--cl-dark-gray);
}

.formField {
  background-color: var(--cl-white);
  padding: 16px 18px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
  border: 1px solid var(--cl-light-gray, #bfbebe);
}

.formField::placeholder {
  color: var(--cl-dark-gray);
}

.formField:hover,
.formField:focus {
  background-color:;
}

.formFieldComment {
  display: flex;
  width: 527px;
  padding: 18px 308px 76px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: none;
}
.formFieldComment:focus,
.formFieldComment:hover {
  outline: none;
}

.passwordFieldContainer {
  position: relative;
  width: 100%;
}

.eyeBtn {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBtn {
  display: flex;
  width: 100%;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--cl-black);
  border: none;
  color: var(--cl-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formBtn:hover:not(:disabled) {
  background-color: var(--cl-white);
  color: var(--cl-black);
}

.formBtn:disabled {
  background-color: var(--cl-light-gray);
  cursor: not-allowed;
}

.createAccount {
  color: var(--cl-light-gray);
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
}

.createAccountLink {
  color: var(--cl-black);
  cursor: pointer;
  text-decoration: none;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
