.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px 64px 16px;
}
.title {
  text-transform: uppercase;
  text-align: start;
  font-size: var(--fs-28);
  font-weight: var(--fw-800);
  line-height: var(--lh-115);
}
.description {
  margin-top: 16px;
  font-size: var(--fs-14);
  line-height: var(--lh-140);
  text-align: start;
}
