.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px 64px 16px;
}
.title {
  text-transform: uppercase;
  text-align: start;
  font-size: var(--fs-28);
  font-weight: var(--fw-800);
  line-height: var(--lh-115);
}
.description {
  margin-top: 16px;
  font-size: var(--fs-14);
  line-height: var(--lh-140);
  text-align: start;
}

@media (min-width: 768px) {
  .pageWrapper {
    padding: 40px 32px 64px 32px;
  }
  .title {
    font-size: var(--fs-40);
    line-height: var(--lh-115);
  }
  .description {
    font-size: var(--fs-16);
    max-width: 443px;
  }
}

@media (min-width: 1440px) {
  .pageWrapper {
    padding: 40px 80px 120px 80px;
  }
}
