.title {
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.56px;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--cl-black, #050505);
}

.left {
  text-align: left;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.8px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 64px;
    line-height: 1.0625;
    letter-spacing: -1.28px;
    margin-bottom: 20px;
  }
}

