.section {
  text-align: left;
  margin-bottom: 64px;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 100px;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .section {
    margin-bottom: 120px;
  }

  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
