.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 649px;
}

.ingredientsTitle {
  font-family: Mulish;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
  text-transform: uppercase;
}

.ingredientsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(178px, 1fr));
  gap: 20px;
  width: 649px;
}

.ingredientItem {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 178px;
  height: 90px;
}

.ingredientImage {
  width: 90px;
  height: 90px;
  border: 1px solid #BFBEBE;
  border-radius: 15px;
  object-fit: cover;
}

.ingredientBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}