@media (min-width: 1440px) {
  .recipeContainer {
    width: 1280px;
    /* height: 2118px; */
  }
}

.recipeBackBtn {
  width: 62px;
  height: 18px;
}

.recipes {
  display: flex;
  gap: 32px;
  padding: 32px;
}

.recipeFilters {
  width: 220px;
  flex-shrink: 0;
}

.resipesCardsBlock {
  flex: 1;
}

.resipesCards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.spinCenter {
  padding-left: 50%;
}

.recipePagination {
}
