.container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 20px;
  min-height: 248px;
}

/* title */
.recipeTitle {
  font-weight: var(--fw-800);
  font-size: var(--fs-18);
  line-height: var(--lh-130);
  text-transform: uppercase;
  color: var(--cl-black);
}

/* badges */
.badgesBlock {
  display: flex;
  gap: 8px;
  height: 38px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #bfbebe;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--cl-light-gray);
}

/* description */
.recipeDescriptionText {
  font-weight: var(--fw-500);
  font-size: var(--fs-16);
  color: var(--cl-black);
}

/* owner */
.ownerContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ownerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #bfbebe;
}

.ownerBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ownerCreatedBy {
  font-weight: var(--fw-500);
  font-size: var(--fs-14);
  line-height: var(--lh-140);
  color: var(--cl-light-gray);
}

.ownerName {
  font-weight: var(--fw-700);
  font-size: var(--fs-16);
  color: var(--cl-black);
}

@media (min-width: 768px) {
  .recipeTitle {
    font-size: var(--fs-24);
  }
}
