.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 649px;
  min-height: 248px;
}

/* title */
.recipeTitle {
  font-family: Mulish;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #050505;
}

/* badges */
.badgesBlock {
  display: flex;
  gap: 8px;
  height: 38px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #BFBEBE;

  font-family: Mulish;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #BFBEBE;
}

/* description */
.recipeDescriptionText {
  font-family: Mulish;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
}

/* owner */
.ownerContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ownerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #BFBEBE;
}

.ownerBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ownerCreatedBy {
  font-family: Mulish;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #BFBEBE;
}

.ownerName {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #1A1A1A;
}