.container {
  display: flex;
  flex-direction: column;
}

.badgesBlock {
  min-width: 145px;
  height: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #BFBEBE;

}

.recipeDescriptionContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipeDescriptionText {
  font-family: Mulish;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #4F4E4E;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ownerContainer {
  display: flex;
  align-items: center;
  min-width: 138px;
  height: 50px
}

.ownerAvatar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.ownerBlock {
  align-items: flex-start;
  flex-direction: column;
  padding-left: 16px;
}

.ownerCreatedBy {
  font-family: Mulish;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #BFBEBE;
}