/* Avatar.module.css */
.avatar {
  display: flex;
  width: 50px;
  height: 50px;
  object-fit: cover; /* crops to fill the box */
  border-radius: 50%; /* circle */
  justify-content: center;
  align-items: center;
}
