.headerdiv {
  position: relative;
  z-index: 100;
  display: flex;
  max-width: 359px;
  height: 38px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: 40px auto 64px;
  background: transparent;
}

.overlay {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .headerdiv {
    max-width: 768px;
    height: 46px;
    padding: 0 48px;
    margin-bottom: 80px;
  }

  .overlay {
    top: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .headerdiv {
    max-width: 1400px;
    height: 46px;
    padding: 0 60px;
  }
}

.dark {
  background-color: transparent;
}

.light {
  background-color: transparent;
}

.headernav {
  color: var(--White, #fff);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
  display: flex;
}

a {
  text-decoration: none;
  color: currentColor;
}

.burger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  background: transparent;
  line-height: 0;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.userAndBurger {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
  height: 100%;
}
