.headerdiv {
  display: flex;
  max-width: 327px;
  height: 38px;
  /* justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  background-color: #050505;
  margin-bottom: 140px;
}

@media only screen and (min-width: 768px) {
  .headerdiv {
    display: flex;
    max-width: 672px;
    height: 46px;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    margin-bottom: 151px;
  }
}

@media only screen and (min-width: 1440px) {
  .headerdiv {
    display: flex;
    max-width: 1280px;
    height: 46px;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    margin-bottom: 88px;
  }
}

.dark {
  background-color: #050505;
}

.light {
  background-color: white;
}

.headernav {
  color: var(--White, #fff);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
  display: flex;
}

a {
  text-decoration: none;
  color: currentColor;
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.userAndBurger {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
}
