.headerdiv {
  display: flex;
  width: 1280;
  height: 46px;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #050505;
  margin-bottom: 88px;
}

.headernav {
  color: var(--White, #fff);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
  display: flex;
}

a {
  text-decoration: none;
  color: currentColor;
}
