.headerdiv {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  max-width: 327px;
  height: 38px;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
  background: transparent;
}

@media only screen and (min-width: 768px) {
  .headerdiv {
    max-width: 704px;
    height: 46px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .headerdiv {
    max-width: 1320px;
    height: 46px;
    padding: 0 60px;
  }
}

.dark {
  background-color: transparent;
}

.light {
  background-color: transparent;
}

.headernav {
  color: var(--White, #fff);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
  display: flex;
}

a {
  text-decoration: none;
  color: currentColor;
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.userAndBurger {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
}
