:root {
  /* Colors */
  --cl-black: #050505;
  --cl-white: #ffffff;
  --cl-dark-gray: #1a1a1a;
  --cl-light-gray: #bfbebe;
  --cl-lighter-gray: #e8e8e8;
  --cl-error: #ae0000;

  /* Font sizes */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-40: 40px;
  --fs-90: 90px;

  /* Font weights */
  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;

  /* Line heights */
  --lh-100: 1;
  --lh-115: 1.15;
  --lh-120: 1.2;
  --lh-130: 1.3;
  --lh-140: 1.4;
  --lh-150: 1.5;

  /* Radiuses */
  --radius-xs: 6px;
  --radius-15: 15px;
  --radius-sm: 20px;
  --radius-md: 30px;
  --radius-circle: 50%;

  /* Transitions */
  --trns-ease: 0.3s ease;
}

body {
  font-family: 'Mulish', sans-serif;
  line-height: var(--lh-150);
  font-size: var(--fs-16);
  font-weight: var(--fw-500);
  letter-spacing: -0.02em;
  background-color: var(--cl-white);
  color: var(--cl-black);
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

.mulish-regular {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish-medium {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mulish-bold {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.mulish-extra-bold {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
