body {
  line-height: 1.5;
  font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  background: none;
  border: none;
  outline: none;
  color: inherit;
}

.mulish-regular {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mulish-medium {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mulish-bold {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.mulish-extra-bold {
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
