.recipeBackBtn {
  display: inline-flex;
  gap: 6px;
  background: #fff;
  border: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--main);
  cursor: pointer;
  margin-bottom: 20px;
}

.recipes {
  display: flex;
  gap: 32px;
}

/* filters */
.recipeFilters {
  width: 330px;
  height: 222px;
}

/* cards */
.resipesCardsBlock {
  width: 910px;
  flex: 1;
}

.resipesCards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding-bottom: 60px;
}

.recipePagination {
  padding-bottom: 120px;
}

.spinCenter {
}
