.heroContainer {
  width: 1400px;
  height: 970px;
  padding: 0 60px;
  border-radius: 30px;
  background: var(--Main, #050505);
  padding-top: 20px;
  text-align: center;
}

/*  adds equal spacing between all children */

.heroText {
  color: #fff;
  max-width: 875px;
  margin-left: 197px;

  text-align: center;
  /* Desktop _tablet/H1 */
  font-size: 90px;
  font-style: normal;
  font-weight: 800;
  line-height: 90px; /* 100% */
  letter-spacing: -1.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.heroTextSmall {
  color: #fff;
  max-width: 577px;

  text-align: center;
  /* Desktop _tablet/Main */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.btn {
  background: var(--Main, #050505);
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-bottom: 40px;
}

.rotated1 {
  width: 128px;
  height: 116px;
  transform: rotate(11deg);
  border-radius: 30px;
}

.rotated2 {
  width: 302px;
  height: 273px;
  transform: rotate(-12deg);
  border-radius: 30px;
}

.heropicture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 50px;
  border-radius: 30px;
}
