/* Styles for Mobile devices */
.heroContainer {
  width: 100%;
  min-width: 320px;
  max-width: 359px;
  min-height: 796px;
  margin: 0 auto;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 64px;
  text-align: center;
  background: var(--Main, #050505);
  border-radius: 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .heroContainer {
    max-width: 736px;
    min-height: 992px;
    border-radius: 30px;
    padding: 20px 32px 0 32px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .heroContainer {
    max-width: 1400px; /* better than fixed width */
    min-height: 970px; /* better than fixed height */
    padding: 20px 60px 0 60px;
    margin-bottom: 120px;
  }
}

/*  adds equal spacing between all children */

.heroText {
  color: #fff;
  max-width: 326px;

  text-align: center;
  /* Mobile/H1 */
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; /* 100% */
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .heroText {
    max-width: 678px;
    font-size: 70px;
    line-height: 70px; /* 100% */
    letter-spacing: -1.4px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .heroText {
    max-width: 875px;
    margin-left: 197px;
    font-size: 90px;
    line-height: 90px; /* 100% */
    letter-spacing: -1.8px;
    text-transform: uppercase;
  }
}

.heroTextSmall {
  color: #fff;
  max-width: 326px;
  font-family: Mulish;

  text-align: center;
  /* Mobile/Main text */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;

  margin: 0 auto;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .heroTextSmall {
    max-width: 577px;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .heroTextSmall {
    color: #fff;
    max-width: 577px;

    text-align: center;
    /* Desktop _tablet/Main */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
}

.heroButton {
  border-radius: 30px;
  border: 1px solid #fff;
  background: #050505;

  color: #fff;

  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  text-transform: uppercase;

  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 30px;

  display: inline-flex;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .heroButton {
    padding: 16px 32px;
    gap: 10px;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
}
@media only screen and (min-width: 1440px) {
  .heroButton {
    margin-bottom: 40px;
  }
}

.heroButton:hover {
  border: 1px solid #e8e8e8;
  background: #1a1a1a;
}

.heroButton:active {
  border: 1px solid #e8e8e8;
  background: #1a1a1a;
}

.heropicture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .heropicture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .heropicture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.rotated1 {
  width: 77px;
  height: 70px;
  transform: rotate(11deg);
  border-radius: 15px;
  background-color: 1a1a1a;
}

@media only screen and (min-width: 768px) {
  .rotated1 {
    width: 128px;
    height: 116px;
    transform: rotate(11deg);
    border-radius: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .rotated1 {
    width: 128px;
    height: 116px;
    transform: rotate(11deg);
    border-radius: 30px;
  }
}
.rotated2 {
  width: 190px;
  height: 172px;
  background-color: 1a1a1a;
  object-fit: contain; /* ensures image scales nicely */
  transform: rotate(-12deg);
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .rotated2 {
    width: 302px;
    height: 273px;
  }
}
@media only screen and (min-width: 1440px) {
  .rotated2 {
    width: 302px;
    height: 273px;
  }
}

.burgernav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  /* margin-right: 300px; */
  margin-bottom: 110px;
}

.burgerButtons {
  min-width: 111px;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  color: var(--White, #fff);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.burgerButtons:hover {
  border: 1px solid #e8e8e8;
  background: #1a1a1a;
}

.burgerButtons:active {
  border: 1px solid #e8e8e8;
  background: #1a1a1a;
}

@media only screen and (min-width: 768px) {
  .burgernav {
    display: none;
  }
}
.active {
  border: 1px solid #bfbebe;
}

.dark {
  color: black;
}

.light {
  color: #fff;
}

/* Hide nav by default */
.headerNavWrapper {
  display: none;
}

/* Tablet: show only if React renders it */
@media only screen and (min-width: 768px) {
  .headerNavWrapper {
    display: block;
  }
}

/* Desktop: always show */
@media only screen and (min-width: 1440px) {
  .headerNavWrapper {
    display: block;
  }
}
