/* .catalogContainer {
  padding: 48px 64px 52px 64px;
  display: flex;
  flex-direction: row;
  gap: 64px;
} */

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .pageContainer {
    flex-direction: row;
  }
}

.sidebar {
  width: 300px;
}

.content {
  flex-grow: 1;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.followersGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.sidebar {
  width: 100%;
}