.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
    padding: 0 60px;
  }
}

.containerWrapper {
  margin: 0 16px 0 0;
}

@media screen and (min-width: 768px) {
  .containerWrapper {
    margin: 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .containerWrapper {
    margin: 0;
  }
}


/* .outletContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
} */

.outletContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media screen and (min-width: 768px) {
  .outletContainer {
    gap: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .outletContainer {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }

}

.container {
  /* margin: 0 16px 64px 16px; */
  max-width: 359px;
  padding: 0 16px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  /* gap: 64px; */
  /* padding: 32px 16px 64px 16px; */
}

.content {
  flex-grow: 1;
}

/* .title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
} */

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.title {
  color: var(--cl-black);
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

.subtitle {
  color: var(--cl-dark-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: var(--lh-150);
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .subtitle {
    width: 443px;
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 34px;
}

@media only screen and (min-width: 768px) {
  .heroSection {
    gap: 80px;
  }
}

@media (min-width: 1440px) {
  .pageContainer {
    flex-direction: column;
    gap: 40px;
  }
}

.title {
  text-transform: uppercase;
  text-align: start;
  font-size: var(--fs-28);
  font-weight: var(--fw-800);
  line-height: var(--lh-115);
}

.description {
  margin-top: 16px;
  font-size: var(--fs-14);
  line-height: var(--lh-140);
  text-align: start;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .container {
    /* margin: 0 32px 64px 32px; */
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 64px;
    padding: 0 32px;
  }

  .pageWrapper {
    margin-top: 40px;

  }

  .title {
    font-size: var(--fs-40);
    line-height: var(--lh-115);
  }

  .description {
    font-size: var(--fs-16);
    max-width: 443px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    /* margin: 0 80px 120px 80px; */
    margin-bottom: 120px;
    padding: 0 60px;
  }

  .pageWrapper {
    margin-top: 40px;
  }
}