/* .catalogContainer {
  padding: 48px 64px 52px 64px;
  display: flex;
  flex-direction: row;
  gap: 64px;
} */

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 32px 16px 64px 16px;
}

.content {
  flex-grow: 1;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.followersGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar {
  width: 100%;
}

@media (min-width: 768px) {
  .pageContainer {
    gap: 80px;
    padding: 40px 32px 100px 32px;
  }
}

@media (min-width: 1440px) {
  .pageContainer {
    flex-direction: row;
    gap: 40px;
    padding: 40px 80px 120px 80px;
  }

  .sidebar {
    width: 394px;
  }

  .content {
    margin-top: 0;
  }
}
