.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
    padding: 0 60px;
  }
}

.pageContainer {
  padding: 0;
  width: 100%;
}

.content {
  flex-grow: 1;
}

.header {
  margin-bottom: 32px;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.title {
  color: var(--cl-black);
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
}

.subtitle {
  color: var(--cl-dark-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: var(--lh-150);
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .subtitle {
    width: 443px;
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
}

@media only screen and (min-width: 768px) {
  .heroSection {
    gap: 80px;
  }
}

@media only screen and (min-width: 1440px) {
  .heroSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}
