.footer {
  padding: 72px 40px;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.bottomRow {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}
@media (min-width: 375px) {
  .footer {
    padding: 32px 32px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 40px 40px;
  }

  .topRow {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bottomRow {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 50px 100px;
  }
}
