.footer {
  max-width: 375px;
  padding: 16px 32px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    padding: 40px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    max-width: 1400px;
    padding: 50px 60px;
  }
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.bottomRow {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .topRow {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .bottomRow {
    text-align: center;
  }
}
