/* =========================================
   1. RUBBER ZONE (MOBILE SMALL: 320px - 374px)
   Поведінка: Максимальна гнучкість, зменшені відступи
   ========================================= */

.card {
  display: flex;
  align-items: flex-start;
  /* width: calc(100% - 32px); */
  box-sizing: border-box;

  /* Зменшені відступи для екранів < 375px */
  gap: 16px;
  padding: 20px 0;
  margin: 0, 16px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
  border-color: rgba(0, 0, 0, 0.3);
}

.avatarWrapper {
  flex-shrink: 0;
}

.avatar {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f2f2f2;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
  align-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4px;
  min-width: 85px;
}

.name {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
  /* Трохи менший шрифт для 320px */
  line-height: 1.2;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 4px;
}

.arrowLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  opacity: 0.6;
  padding: 4px;
  margin: -4px;
  transition: opacity 0.3s ease;
}

.arrowLink:hover {
  opacity: 1;
}

.iconArrow {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.recipesInfo {
  margin: 0 0 10px 0;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.5);
}

.followBtn,
.unfollowBtn {
  padding: 8px 16px;
  min-width: 112px;
  min-height: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: #FFFFFF;

  color: #1A1A1A;

  opacity: 1;
  border-radius: 30px;
  border-width: 1px;
}

/* --- BUTTONS (Compact) --- */
/* .followBtn,
.unfollowBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;

  min-width: 70px;
  border-radius: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s ease;
  min-width: 112px;
  min-height: 36px;

  opacity: 1;
  border-radius: 30px;
  border-width: 1px;
} */


/* .followBtn {
  background-color: #FFFFFF;
  color: #fff;
  border: 1px solid #000;
}

.followBtn:hover {
  background-color: #333;
  border-color: #333;
}

.unfollowBtn {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.unfollowBtn:hover {
  border-color: #000;
  color: #000;
} */


/* =========================================
   2. ADAPTIVE ZONE (MOBILE STANDARD: 375px+)
   ========================================= */
@media screen and (min-width: 375px) {
  .card {
    gap: 16px;
    padding: 0;
  }

  .avatar {
    width: 60px;
    height: 60px;
  }

  .name {
    font-weight: 800;
    color: #050505;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .recipesInfo {
    font-size: 12px;
    margin-bottom: 12px;
    color: #BFBEBE;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }

  .iconArrow {
    width: 36px;
    height: 36px;
  }

  .followBtn,
  .unfollowBtn {
    padding: 8px 16px;
    min-width: 112px;
    min-height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #1A1A1A;

    opacity: 1;
    border-radius: 30px;
    border-width: 1px;
  }
}


/* =========================================
   3. TABLET (768px+)
   Масштабування елементів
   ========================================= */
@media screen and (min-width: 768px) {
  .card {
    gap: 16px;
    padding: 16px;
  }

  .avatar {
    width: 80px;
    height: 80px;
  }

  .name {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .header {
    margin-bottom: 8px;
  }

  .recipesInfo {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .followBtn,
  .unfollowBtn {
    padding: 10px 24px;
    font-size: 14px;
  }
}


/* =========================================
   4. DESKTOP (1440px+)
   Фінальні штрихи
   ========================================= */
@media screen and (min-width: 1440px) {
  .card:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}