.userBar {
  margin-left: auto;
}

.userBarTop {
  min-width: 100px;
  max-width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: #1a1a1a;
  margin-left: auto;
}

.userBarBottom {
  min-width: 100px;
  max-width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: #1a1a1a;
  margin-left: auto;
}

.nameSvgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 14px 16px 6px;
  gap: 4px;
}
.userName {
  color: #fff;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.arrow {
  stroke: white; /* controls stroke color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBar {
  position: relative;
}

.userBarBottom {
  position: absolute;
  border: 1px solid #e8e8e8;
  top: 110%; /* place directly below .userBarTop */

  margin-top: 8px;
  background: black;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  min-height: 74px;
  z-index: 10; /* ensure it overlays */
  right: 14px; /* align to the right edge */
  width: 148px;
  height: 74px;
}

.profile {
  color: #fff;

  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.profile:hover {
  background: #333;
}
