.catalogContainer {
  display: flex;
  width: 1400px;
  height: auto;
  gap: 80px;
}

.recipeImage {
  width: 551px;
  height: 400px;
  border-radius: 30px;
}

.columnContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 551px
}

.columnContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 649px;
}

/* width: 1440;
height: 1965;
top: 170px;
gap: 120px;
angle: 0 deg;
opacity: 1; */