.pageContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px 64px 16px;
}

.recipeImage {
  width: 100%;
  height: 318px;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.addToFavoritesButton {
  margin-top: 30px;
  padding: 14px 20px;
  gap: 8px;
  font-size: var(--fs-14);
  line-height: var(--lh-140);
  font-weight: var(--fw-700);
  max-width: 215px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .pageContainer {
    padding: 40px 32px 100px 32px;
  }

  .recipeImage {
    width: 689px;
    height: 400px;
  }
}
