.catalogContainer {
  display: flex;
  width: 1400px;
  height: auto;
  gap: 80px;
}

.recipeImage {
  width: 551px;
  height: 400px;
  border-radius: 30px;
}

.columnContainerLeft {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 551px
}

.columnContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 649px;
  margin-bottom: 120px;
}

.addToFavoritesButton {
  margin-top: 30px;
  padding: 14px 20px;
  gap: 8px;
  font-size: var(--fs-14);
  line-height: var(--lh-140);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

/* Recipe */

/* Auto layout */


/* Inside auto layout */
/* flex: none;
order: 1;
flex-grow: 0; */