.areaWrapper {
  position: relative;
  width: 100%;
  margin-top: 32px;
}

.textarea {
  width: 100%;
  height: 36px;
  padding: 0 73px 16px 0;
  border-bottom: 1px solid var(--cl-light-gray);
  font-size: var(--fs-14);
  line-height: var(--lh-140);
  resize: none;
  overflow: hidden;
  vertical-align: bottom;
}

.textarea::placeholder {
  color: var(--cl-light-gray);
}

.charCountWrapper {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 12px;
  color: var(--cl-light-gray);
  pointer-events: none;
}

.charCount {
  color: var(--cl-black);
}
